<template name="deckbuilder">
  Deckbuilder

  <input type="text" name="quantity" class="form-control quantity">
  <input type="text" name="cardname" class="form-control cardname">
  <button class="btn btn-success find">Go</button>

  {{#if result}}
    {{#with result}}
      <div class="result">
        <img src="{{image}}">
        <button class="btn btn-success add">Add</button>
      </div>
    {{/with}}
  {{/if}}

  {{#if decklist}}
    {{#each decklist.list}}
      {{>card data=card small='true'}}
    {{/each}}
  {{/if}}
</template>