<template name="deckbuilder">
  <div class="row">
    <div class="col-lg-4">
      <h2>Deckbuilder</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <input type="text" placeholder='card name' name="cardname" class="form-control cardname">
      <ul>
        {{#each suggestions}}
          <li>
            <p id='{{multiverse_id}}'>{{name}}<br><img src='{{image_url}}'>
                <button id="{{multiverse_id}}" class="btn btn-success add">Add</button>
            </p>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-lg-1">
      <input type="text" placeholder='quantity' name="quantity" class="form-control quantity">
    </div>
    <div class="col-lg-7">
      {{#with decklist}}
        <h2>{{name}}</h2>
        {{#each list}}
          <div class="card pull-left">
            {{#with getCard cardID}}
              <img src='{{image_url}}'>
            {{/with}}
          </div>
        {{/each}}
      {{/with}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-4">

    </div>
  </div>
</template>
